[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
docker = "*"
debugpy = "*"
pytest-xdist = "*"
pytest-skip-slow = "*"

[dev-packages]

[requires]
python_version = "3.11"
