[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywinrm = "*"

[dev-packages]
ansible = "*"
argcomplete = "*"
testinfra = "*"
molecule = "*"
molecule-plugins = {extras = ["docker"], version = "*"}
pywinrm = "*"

[requires]
python_version = "3.12"
